<p id="notice"><%= notice %></p>

<h1>All Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each_with_index do |article, index| %>
    <% @book = article.book %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= link_to 'Show', book_article_path(@book,article) %></td>
      <td><%= link_to 'Edit', edit_book_article_path(@book,article) %></td>
      <td><%= link_to 'Destroy', book_article_path(@book,article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_book_article_path %>
<%= link_to 'Back', books_path %>