<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<%= link_to 'Edit', edit_book_article_path(@book,@article) %> |
<%= link_to 'Back', book_articles_path %>

<% @article.sections.each_with_index do |section, index| %>
	<%= link_to section.title, book_article_section_path(@book,@article,section) %>
<% end%>