<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %><br>

<% @book.articles.each_with_index do |article, index| %>
	<%= link_to article.title, book_article_path(@book, article) %>
<% end%><br>

<%= link_to 'New Article', new_book_article_path(@book,@article) %>
